.addcategoryModal {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background: rgba(179, 168, 168, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.modalForm {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 5px lightgrey;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(92, 88, 88);
    border-top-right-radius: 5px;
}

.header {
    display: flex;
    width: 300px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: #53A856;
    font-size: 15px;
}

.buttonX {
    border: none;
    background-color: transparent;
}

.centralPart {
    width: 300px;
    height: 160px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    width: 300px;
    height: 80px;
    border-bottom: 1px solid black;
    padding-left: 10px;
    padding-top: 15px;
}

.label {
    color:black;
    font-size: 14px;
}

.rectangle {
    width: 300px;
    height: 80px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.insideBox {
    border: 1px solid black;
    height: 60px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    height: 40px;
    width: 40px
}

.addPhoto {
    font-size: 14px;


}

.twoBtn {
    width: 300px;
    height: 80px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnCancel {
    width: 110px;
    height: 30px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(134, 127, 127);
    font-size: 12px;
}

.btnaddCategory {
    width: 110px;
    height: 30px;
    background-color: #53A856;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(134, 127, 127);
    font-size: 12px;
    color: white;
}



.buttonCancel {
    width: 110px;
    height: 30px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(134, 127, 127);
}