.inventorysummary {
    width: 100%;
    height: 50vw;
    display: flex;
    background: #EAEAEA;
    padding-left: 350px;
}
.titleTwo {
    display: flex;
    width:850px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 680px;
}

.arrow {
   
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {

    font-size: 28px;
    color: rgb(56, 53, 53);
    display: flex;
    width:400px;
    font-weight: 600;
  
  
}
/* 4 kopcinja */


.fourbtn {
    display: flex;
    justify-content: space-between;
    width:920px;
    height: 40px;
    margin-top: 20px ;
  
   
}

.leftPart{
    display: flex;
    justify-content: space-between;
    width: 660px;
}



.btn{
    width:150px;
    border-radius: 5px ;
   border: 1px solid #999999;
   background-color: #c6c0c0;
   display: flex;
   justify-content: flex-start;
}

.btn span{
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
}
.btnTwo{
    width:150px;
    border-radius: 5px ;
    background-color: #c6c0c0;
    border: 1px solid #999999;
    display: flex;
   justify-content: flex-start;
}

.btnTwo span{
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
}

.btnThree{
    width:150px;
    border-radius: 5px ;
    background-color: #c6c0c0;
    border: 1px solid #999999;
    display: flex;
   justify-content: flex-start;
}
.btnThree span{
    font-size: 14px;
    margin-left: 5px;
    margin-top: 5px;
}

.btnShow{
    background-color: #53A856;
    width: 150px;
    border-radius: 5px;
    color:white;
    border: 1px solid #999999;
}
    


  
/* Grafikon */

.linechart {
    width:1050px; 
    margin-top: 40px;
  
}

.imglinechart {
    height: 500px;
    width:1050px;


}