.inventoryThirdPage{
    width: 100%;
    height: 50rem;
    background: #EAEAEA;
    padding-left: 350px;
   
}

.titleTwo{
    display: flex;
    width:550px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 680px;
  
  }
  
  .arrow{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
  }
  
  .text{
    font-size: 28px;
    color: rgb(56, 53, 53);
    font-weight: 600;
    width:400px;
  }
  
  .twoBtn{
    display: flex;
    justify-content: space-between;
  }

  
.twoParts{
  display: flex;
  justify-content: space-between;
  width:1050px;
  height: 440px;
  margin-left: 50px;
  margin-top: 25px;
}
.leftPart{
  width: 740px;
  height: 440px;
}
  
   
.rightPart{
  display: flex;
  flex-direction: column;
  width: 210px;
  padding-left: 70px;
}

.editBtn{
margin-top: 10px;
 
}