

.generateInvoiceButton{
    border-radius: 5px;
    background-color: #53A856;
    width:150px;
    height: 40px;
    box-shadow: 2px 2px 2px rgb(134, 127, 127);
    font-size: 14px;
    color: white;
    border:none;
    margin-bottom: 7px;
}

.generateInvoiceButton:hover {
    background: #2c5f2d;
    box-shadow: 2px 2px rgb(73, 73, 73);
}

