.icardsBox{
display:flex;
flex-direction: column;
border-radius: 0.5rem;
width: 160px;
height: 180px;
background: white;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.399);
position: relative; 
overflow: hidden;

}

.threeImages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 80px;
    border-radius: 0.5rem;
   

}
.iconfirst{

    justify-content: flex-start;
    width: 80px;
    height: 80px;

}

.twoIcons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    border-top-right-radius: 0.5rem;
    width: 80px;
    height: 80px;

}

.iconsecond{
    width:80px;
    height: 45px;
    border-top-right-radius: 0.5rem;
}

.iconthird{
    width:80px;
    height: 45px;
    padding-bottom: 10px;
    
}

.secondPart{
    margin-top: 5px;
    padding-left: 10px;
  
}

.label{
    display: flex;
    justify-content: space-between;
   font-size: 14px;
    
    
 
}
.link{ 
    text-decoration: none;
    color: black;
}

.unitPrice {
    display: flex;
    justify-content:space-around;
    padding-right: 20px;
    font-size: 12px;
  }

  .thirdPart{
    display: flex;
    flex-direction: column;
  }

  .update{
    font-size: 12px;
    padding-left: 10px;
}

.dateTime{
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
    width:100px;
    font-size: 10px;
  
}

.icon{
    position: absolute; 
    bottom: 5px; 
    right: 5px; 
    width: 35px;
  
}  
 
