.recentordersSection{
    color:black;
}

.recentordersRow{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    height: 170px;
    justify-content: space-around;
    align-items: center;
    margin-left: 90px;   
}

.buttonArrow{
    border: none;
    background-color: transparent;
}

.buttonpagination{
    border: none;
    background-color: transparent;
    margin-left: 43%;

}