.tcardsBox {

    display: flex;
    border: 1px solid rgb(197, 187, 187);
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.399);
    border-radius: 5px;
    height: 100px;
    margin-bottom: 10px;

}

.firstPart{
    width: 190px;
    height: 100px;
    background-color: red;
}
.icon {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
   
}

.secondPart{
    width: 360px;
    width: 360px;
    height: 100px;
    padding-left: 18px;
    padding-top: 15px;
    border-left: 1px solid black;
    border-right: 1px solid black ;
}

.label {
    font-size: 20px;
}

.unitPrice{
    display: flex;
    font-size: 14px;
    color: rgb(88, 82, 82);
}

.unit {}

.price {
    padding-left: 8px;
    color: rgb(88, 82, 82);
}

.thirdPart{
    width: 190px;
}

.update {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-top: 22px;
    color: rgb(88, 82, 82);

}

.dateTime{
    display: flex;
    justify-content: center;
    font-size: 14px;

}
.date {}

.time {}

.iconsecond {
    display: flex;
    justify-content: right;
    align-items: end;
    height: 35px;
    padding-left: 140px;
    padding-bottom: 5px;
}